<link href="../../../assets/css/portafolio.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/portafolio-1.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">






<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()" >&times;</button>
      <h4 class="modal-title">{{title || 'Confirm'}}</h4>
    </div>
    <div class="modal-body">
      <!--<p>{{message || 'Are you sure?'}}</p>-->
      <div class="product-quicklook">

      <form class="product-details box-product validationEngine form59b886f74c6528.92763449">

        <label class="title"> {{producto.nombre}}</label>

        <div class="product-image-gallery">
          <ul>
            <li *ngFor="let foto of producto.fotos; let i=index" (click)="select(i)"
                [ngClass]="{'selected': selectedIndex == i, 'list-group-item': true}" >
              <img [src]= "foto"  style="height: 100%;width: 100%">
            </li>


          </ul>

        </div>

        <div class="image" >
          <div class="product-photo">
            <img [src]="producto.foto" alt="" class="photo product-thumbnail" id="product_image_5" data-max-width="300" data-max-height="300" data-is-default-image="" style="display: block;">
          </div>
        </div>


        <div class="editable-attributes widget-fingerprint-editable-attributes" style="margin-left: 500px;">
          <ul class="attribute-values">
            <li class="focused">

              <table style="width: 500px">
                <tr>
                  <td>
                    <h4>Color</h4>
                  </td>
                  <td>
                    {{producto.color}}
                  </td>
                </tr>
                <tr>
                  <td>
                    <h4>Dimensiones</h4>
                  </td>
                  <td>
                    {{producto.dimensiones}}
                  </td>
                </tr>                <tr>
                <td>
                  <h4>Peso</h4>
                </td>
                <td>
                  {{producto.peso}}
                </td>
              </tr>
                <tr>
                  <td>
                    <h4>Características</h4>
                  </td>
                  <td>
                   {{producto.caracteristicas}}
                  </td>
                </tr>
              </table>

            </li>

          </ul>

        </div>

        <div class="product-price widget-fingerprint-product-price" >
          <ul class="product-price">
            <li class="product-price-base"><span class="price product-price">Precio: {{producto.precio}} Gs</span></li>
          </ul>
        </div>

        <span>
          Cantidad:
          <span>
            <input [(ngModel)]="cantidad" type="number" class="quantity" id="amount5" name="amount" title="Cantidad" style="width: inherit;">
          </span>
        </span>
        <!--
        <span class="product-qty widget-fingerprint-wholesale-quantity" style="margin-left: 500px; margin-top: -100px">
        Cantidad:
          <span class="quantity-box-container" style="margin-left: 680px;">
            <input type="text" value="1" class="quantity  validate[required,custom[integer],min[1],max[6]]" id="amount5" name="amount" title="Cantidad" style="width: inherit; margin-top: -50px">
           </span>
        </span>
        -->
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="confirm()">Agregar al carrito</button>
      <button type="button" class="btn btn-default" (click)="close()" >Cancelar</button>
    </div>
  </div>
</div>
</div>
