<header class="ae-container-fluid ae-container-fluid--full rk-header ">
  <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
  <label for="mobile-menu">
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
    <svg>
      <use xlink:href="assets/img/symbols.svg#bar"></use>
    </svg>
  </label>
  <div class="ae-container-fluid rk-topbar">
    <h1 class="rk-logo">
      <a routerLink="/">{{ _is.info.titulo }}<sup>tm </sup></a>
    </h1>
    <nav class="rk-navigation">
      <ul class="rk-menu">
        <!--<li class="rk-menu__item">
          <select>
            <option value="gnalga">
              Comestibles
            </option>
            <option value="gnalga">
              Vestimenta
            </option>
            <option value="gnalga">
              Hogar
            </option>
            <option value="gnalga">
              Vehículo
            </option>
          </select>
        </li> -->
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="home" class="rk-menu__link">Portal</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="listado" class="rk-menu__link">Productos</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="formulario" class="rk-menu__link">Agregar Producto</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="carrito" class="rk-menu__link">Mi Carrito</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="graficos" class="rk-menu__link">Gráficos</a>
        </li>
        <li class="rk-menu__item" routerLinkActive="active">
          <a routerLink="about" class="rk-menu__link">Sobre nosotros</a>
        </li>
       <div *ngIf="authenticated">
          <li class="rk-menu__item" routerLinkActive="active">
            <a  class="rk-menu__link" (click)="auth.signOut()" href="#">Salir</a>
          </li>
        </div>

      </ul>

      <div class="rk-search">
        <input name="buscar"
               (keyup.enter)="buscar_producto( buscarTexto.value )"
               #buscarTexto
                type="text" placeholder="Buscar..." id="urku-search" class="rk-search-field">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </div>

    </nav>
  </div>
</header>
