<link href="../../../assets/css/portafolio.css" rel="stylesheet" type="text/css" />
<link href="../../../assets/css/portafolio-1.css" rel="stylesheet" type="text/css" />


<div *ngFor="let detalle of carritoService.detalles" style="display: block">
      <table>
        <tr>
          <td style="width: 300px">
            <h4>{{productoService.get_producto(detalle.producto_cod).nombre}}</h4>
          </td>
          <td>
            <img [src]="productoService.get_producto(detalle.producto_cod).foto" style="height: 200px;width: 200px">
          </td>
        </tr>
        <tr>
          <td>
            <h4>Cantidad</h4>
          </td>
          <td>
            {{detalle.cantidad}}
          </td>
        </tr>
        <tr>
          <td>
            <h4>Precio unitario</h4>
          </td>
          <td>
            {{productoService.get_producto(detalle.producto_cod).precio }} Gs. c/u
          </td>
        </tr>
      </table>
  <br>
</div>


<h2 style="text-align: center">{{carritoService.items}} productos</h2>
<h2 style="text-align: center">Total: {{carritoService.total}} Gs.</h2>

<div *ngIf="carritoService.hayProductos">
  <button md-button style="width:100%;height: 60px" (click)="ventasService.guardarVenta()">Comprar</button>

</div>
