<input mdInput type="date" [(ngModel)]="desde" name="desde" placeholder="Fecha desde">
<input mdInput type="date" [(ngModel)]="hasta" placeholder="Fecha hasta">

<button md-button  (click)="redibujar()" style="width:100%"> Filtrar </button>

<div echarts  [options]="grafico_1" class="demo-chart"></div><br>
<div echarts  [options]="grafico_2" class="demo-chart"></div><br>
<div echarts  [options]="grafico_3" class="demo-chart"></div><br>
<div echarts  [options]="grafico_4" class="demo-chart"></div><br>
