<h1>
  Listado de Productos
</h1>
<br/>
<table>
  <tr>
    <td width="200px" >Código  </td>
    <td width="500px">Nombre </td>
    <td width="200px"> Precio  </td>

  </tr>
</table>
<br/>
<table *ngFor="let p of productos| async">

  <tr>
    <td width="200px">{{p.cod}}</td>
    <td width="500px">{{p.nombre}}</td>
    <td width="200px">{{p.precio}}</td>
  </tr>
</table>

