<h1 style="margin-left: 50px"> Crear Nuevo Producto:</h1>

<md-card>
  <md-card-title style="margin-left: 50px">
    Fotos
  </md-card-title>
  <md-card-content style="margin-left: 50px">
    <input name="fotos" type="file" class="button" (change)="detectFiles($event)" multiple  file-input="files"> (hasta 5 fotos)

    <div *ngIf="currentUpload">
      <progress class="progress is-success" min=1 max=100 value="{{ currentUpload?.progress }}"></progress>
      Progreso: {{currentUpload?.name}} | {{currentUpload?.progress}}% Completo

    </div>

  </md-card-content>

</md-card><br>

<div style="margin-left: 50px">
<form #f="ngForm" (submit)="form_submit(f)" >

  <md-form-field style="width:60%">
    <input mdInput type="text" ngModel name="codigo" placeholder="Código">
  </md-form-field>
  <br>
  <md-form-field style="width:60%">
    <input mdInput type="text" ngModel name="nombre" placeholder="Nombre">
  </md-form-field>
  <br>
  <md-form-field style="width:60%">
     <input mdInput type="text" ngModel name="descripcion" placeholder="Descripción">
   </md-form-field>
    <br >
  <md-form-field style="width:60%">
  <input mdInput type="number" ngModel name="precio" placeholder="Precio">
  </md-form-field>
  <br >


  <md-select placeholder="Tipo" [(ngModel)]="selectedValue" name="tipo_producto" style="width: 60%">
    <md-option *ngFor="let tipo_producto of tipo_productos" [value]="tipo_producto.value">
      {{tipo_producto.viewValue}}
    </md-option>
  </md-select>

  <!--<p> Valor Seleccionado: {{selectedValue}} </p>-->

  <br>
  <md-form-field style="width:60%">
    <input mdInput type="number" ngModel name="stock" placeholder="Stock">
    </md-form-field>
  <br>


  <md-form-field style="width:60%">
  <input mdInput [colorPicker]="color" (colorPickerChange)="color=$event" [style.background]="color" [value]="color" placeholder="Color" name="color"/>
  </md-form-field>
  <br>


  <md-form-field style="width:60%">
  <input mdInput type="text" ngModel name="dimensiones" placeholder="Dimensiones">
  </md-form-field>
  <br>
  <md-form-field style="width:60%">
  <input mdInput type="text" ngModel name="peso" placeholder="Peso">
  </md-form-field>
  <br >
  <md-form-field style="width:60%">
  <input mdInput #message type="text" ngModel name="caracteristicas"  maxlength="5000" placeholder="Caracteristicas">
    <md-hint align="end">{{message.value.length}} / 5000</md-hint>
  </md-form-field>
  <br ><br>

  <button md-button type="submit" style="width:60%" >CREAR</button>


</form>

</div>
